<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
     
</head>

<body>
<a href="/auth/facebook" class="btn btn-warning"
          ><span class="fa fa-facebook"></span> Sign Up with Facebook</a
        >
    <div class="columns mt-6">

        <div class="container column is-one-third">
            <div class="notification is-primary ">
                <h1 class="has-text-centered title is-1 ">
                    <p class="is-inline">&#128512;</p>Chatapp
                </h1>
            <a href="/chat">apppp</a>

            <a href="/auth/facebook" class="button">sdrfsdafsd</a>
</button>        
</form>


</body>


</html>
